body{
    background-color: aquamarine;
    max-width: 1100px;
    margin: 0 auto;
}
nav ul{
    display: flex;
    gap: 20px;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;

}
a:hover{
    background-color: aqua;
    font-size: 20px;
    align-items: center;
}
/*learner section*/
.learner{
    display: flex;
    gap: 10px;
    background-color: aqua;
    padding: 10px;
}
.right img{
    width: 250px;

}
button{
    color: aliceblue;
    background-color: blue;
    font-size: 25px;
    border: 2px solid blue;
    border-radius: 5px;
}
button:hover{
    background-color: blueviolet;
    outline: 5px solid wheat;
    cursor: pointer;
}
/* work section */
.work{
    text-align: center;
    background-color: blueviolet;
    padding: 50px;
}
.card-container{
gap: 20px;
display: flex;
flex-wrap: wrap;
}
.card{
    border: 2px solid red;
    width: 250px;
    }
.card img{
    width: 100%;
}